/* Create four equal columns that floats next to eachother */
.column {
    float: left;
}

/* The Modal (background) */
.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modalContent {
    position: relative;
    background-color: black;
    margin: auto;
    margin-top: 60px;
    max-width: 98%;
    max-height: 98%;
}

.slide {
    display: block;
    text-align: -webkit-center;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: white;
    background-color: #0008;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    z-index: 10;
}

/* Caption text */
.captionContainer {
    text-align: center;
    background-color: black;
    padding: 0px 16px;
    color: white;
    height: 40px;
}

img.hoverShadow {
    transition: 0.3s;
    cursor: pointer;
}

.hoverShadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modalImage {
    width: 100%;
    height: calc(100vh - 100px); 
    object-fit: contain;
}

.caption {
    text-align: center;
}