.container {
    position: relative;
}

.row>.column {
    padding: 0 4px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
    float: left;
}