/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3578e5;
  --ifm-color-primary-dark: #1d68e1;
  --ifm-color-primary-darker: #1b62d4;
  --ifm-color-primary-darkest: #1751af;
  --ifm-color-primary-light: #4e89e8;
  --ifm-color-primary-lighter: #5a91ea;
  --ifm-color-primary-lightest: #80aaef;
  --ifm-code-font-size: 90%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #d3e7fd;
  --ifm-color-primary-dark: #a7cffb;
  --ifm-color-primary-darker: #90c3fa;
  --ifm-color-primary-darkest: #4e9ef7;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
}

.header-uner-link:hover {
  opacity: 0.6;
}

.header-uner-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("/static/img/logo_uner_24.png") no-repeat;
}

[data-theme="dark"] .header-uner-link::before {
  background: url("/static/img/logo_uner_dark_24.png") no-repeat;
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

[data-theme="dark"] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

.header-moodle-link:hover {
  opacity: 0.6;
}

.header-moodle-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576.000000 576.000000'%3E%3Cg transform='translate(0.000000,576.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M2382 4799 l-942 -119 -716 -478 -717 -477 117 -3 116 -3 0 -1199 0%0A-1200 120 0 120 0 0 1200 0 1200 240 0 240 0 0 -52 c0 -101 57 -449 76 -468 5%0A-5 247 -66 538 -136 514 -123 529 -126 546 -108 55 58 753 851 757 862 14 34%0A-105 327 -180 445 -21 32 -37 61 -37 66 0 4 155 137 345 295 190 158 345 289%0A345 292 0 5 87 16 -968 -117z'/%3E%3Cpath d='M4272 3950 c-269 -38 -499 -146 -718 -337 l-74 -64 -42 34 c-87 70%0A-183 116 -275 132 l-41 6 -213 -243 c-116 -134 -225 -257 -241 -274 l-30 -32%0A39 -12 c170 -55 322 -178 393 -320 51 -100 50 -83 50 -1072 l0 -928 360 0 359%0A0 4 963 c3 1055 -1 983 62 1110 71 140 177 233 335 293 68 25 87 28 200 28%0A113 0 132 -3 200 -28 148 -56 258 -150 324 -276 76 -143 70 -57 73 -1127 l4%0A-963 360 0 360 0 -4 993 -3 992 -26 105 c-63 254 -179 461 -358 640 -245 246%0A-544 375 -890 385 -80 2 -173 0 -208 -5z'/%3E%3Cpath d='M1190 2577 c0 -178 3 -642 7 -1030 l6 -707 359 0 358 0 0 919 c0 867%0A-1 920 -17 925 -10 3 -172 52 -360 110 -187 59 -344 106 -347 106 -3 0 -6%0A-146 -6 -323z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

[data-theme="dark"] .header-moodle-link::before {
  background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576.000000 576.000000'%3E%3Cg transform='translate(0.000000,576.000000) scale(0.100000,-0.100000)'%0Afill='%23FFFFFF' stroke='none'%3E%3Cpath d='M2382 4799 l-942 -119 -716 -478 -717 -477 117 -3 116 -3 0 -1199 0%0A-1200 120 0 120 0 0 1200 0 1200 240 0 240 0 0 -52 c0 -101 57 -449 76 -468 5%0A-5 247 -66 538 -136 514 -123 529 -126 546 -108 55 58 753 851 757 862 14 34%0A-105 327 -180 445 -21 32 -37 61 -37 66 0 4 155 137 345 295 190 158 345 289%0A345 292 0 5 87 16 -968 -117z'/%3E%3Cpath d='M4272 3950 c-269 -38 -499 -146 -718 -337 l-74 -64 -42 34 c-87 70%0A-183 116 -275 132 l-41 6 -213 -243 c-116 -134 -225 -257 -241 -274 l-30 -32%0A39 -12 c170 -55 322 -178 393 -320 51 -100 50 -83 50 -1072 l0 -928 360 0 359%0A0 4 963 c3 1055 -1 983 62 1110 71 140 177 233 335 293 68 25 87 28 200 28%0A113 0 132 -3 200 -28 148 -56 258 -150 324 -276 76 -143 70 -57 73 -1127 l4%0A-963 360 0 360 0 -4 993 -3 992 -26 105 c-63 254 -179 461 -358 640 -245 246%0A-544 375 -890 385 -80 2 -173 0 -208 -5z'/%3E%3Cpath d='M1190 2577 c0 -178 3 -642 7 -1030 l6 -707 359 0 358 0 0 919 c0 867%0A-1 920 -17 925 -10 3 -172 52 -360 110 -187 59 -344 106 -347 106 -3 0 -6%0A-146 -6 -323z'/%3E%3C/g%3E%3C/svg%3E%0A");
}